[package]
name = "bevy_opengl"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = { version = "0.18.0-rc.1", default-features = false, features = [
    "default_app",
    "common_api",
    "bevy_gltf",
    "ktx2",
    "zstd_rust",
    "gamepad",
] }

bytemuck = "1.24.0"
glow = "0.16.0"
raw-window-handle = "0.6.2"
winit = "0.30.12"

[target.'cfg(not(any(target_arch = "wasm32")))'.dependencies]
glutin = "0.32.3"
glutin-winit = "0.5.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3", features = [
    "HtmlCanvasElement",
    "WebGl2RenderingContext",
    "Window",
] }
wasm-bindgen = { version = "0.2" }

[dev-dependencies]
bevy_basic_camera = { git = "https://github.com/DGriffin91/bevy_basic_camera", branch = "bevy18" }
