[package]
name = "bevy_opengl"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17.3"
bytemuck = "1.24.0"
glow = "0.16.0"
glutin = "0.32.3"
glutin-winit = "0.5.0"
raw-window-handle = "0.6.2"
